<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>SysCor S.A. Monitoring System</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />  
        
        @Scripts.Render("~/bundles/modernizr")  
        @Styles.Render("~/Content/css")
        <link href="~/Content/themes/jquery.wijmo-complete.all.2.2.1.min.css" rel="stylesheet" type="text/css"/>

        <style type="text/css">
             body {
                padding-top: 40px; 
            }
            .container > footer p {
                text-align: right 
            }
            .container {
                width: 90%;
            }
      
            .content .span4 {
                margin-left: 0;
                padding-left: 19px;
                border-left: 1px solid #eee;
            }

            .topbar .btn {
                border: 0;
            }
        </style>
    </head>

    <body>
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="#">SysControl </a>
                    <ul class="nav">
                        <li class="active"><a href="#">Monitoreo</a></li>
                        <li><a href="#">Control</a></li>
                        <li><a href="#">Configuración</a></li>
                    </ul>
                    <form class="pull-right">
                    </form>
                </div>
            </div>
        </div>
        
        <div class="container" id="body">
            @RenderSection("featured", false)
            <section>
                @RenderBody()
            </section>
            <footer>
                <div>
                    <div>
                        <p>&copy; @DateTime.Now.Year - SysCor Systems</p>
                    </div>
                </div>
            </footer>
        </div>
      
          @*General Section*@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/knockout/js")
        @Scripts.Render("~/bundles/Graph/js")
        <script type="text/javascript" src="~/Scripts/jquery.wijmo-open.all.2.2.1.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.wijmo-complete.all.2.2.1.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.qtip-1.0.0-rc3.min.js"></script>
        @Scripts.Render("~/bundles/Content/js")

        <script type="text/javascript">
             SysCor.initialize();
             Monitor.initialize();
        </script>
        @RenderSection("scripts", false)
    </body>
</html>
